In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
training_set=pd.read_csv('C:/Users/shurastogi/Desktop/Club Mahindra/train.csv')

In [3]:
training_set.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,5/4/2018,5/4/2018,6/4/2018,3,1,2,0,46,3,...,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/4/2015,16/04/15,1,1,2,0,46,3,...,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,1/2/2015,5/2/2015,1,1,2,0,47,1,...,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,2/5/2015,11/6/2015,16/06/15,1,1,2,2,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,2/9/2015,14/12/15,19/12/15,1,1,2,0,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.059346

In [4]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341424 entries, 0 to 341423
Data columns (total 24 columns):
reservation_id                        341424 non-null object
booking_date                          341424 non-null object
checkin_date                          341424 non-null object
checkout_date                         341424 non-null object
channel_code                          341424 non-null int64
main_product_code                     341424 non-null int64
numberofadults                        341424 non-null int64
numberofchildren                      341424 non-null int64
persontravellingid                    341424 non-null int64
resort_region_code                    341424 non-null int64
resort_type_code                      341424 non-null int64
room_type_booked_code                 341424 non-null int64
roomnights                            341424 non-null int64
season_holidayed_code                 341310 non-null float64
state_code_residence                  336660 non-null float64
state_code_resort                     341424 non-null int64
total_pax                             341424 non-null int64
member_age_buckets                    341424 non-null object
booking_type_code                     341424 non-null int64
memberid                              341424 non-null object
cluster_code                          341424 non-null object
reservationstatusid_code              341424 non-null object
resort_id                             341424 non-null object
amount_spent_per_room_night_scaled    341424 non-null float64
dtypes: float64(3), int64(12), object(9)
memory usage: 62.5+ MB

In [5]:
training_set.isnull().sum()

reservation_id                           0
booking_date                             0
checkin_date                             0
checkout_date                            0
channel_code                             0
main_product_code                        0
numberofadults                           0
numberofchildren                         0
persontravellingid                       0
resort_region_code                       0
resort_type_code                         0
room_type_booked_code                    0
roomnights                               0
season_holidayed_code                  114
state_code_residence                  4764
state_code_resort                        0
total_pax                                0
member_age_buckets                       0
booking_type_code                        0
memberid                                 0
cluster_code                             0
reservationstatusid_code                 0
resort_id                                0
amount_spent_per_room_night_scaled       0
dtype: int64

In [7]:
training_set.state_code_residence.fillna(8.0,inplace=True)
training_set.season_holidayed_code.fillna(2.0,inplace=True)
col_to_dummy=['channel_code','persontravellingid','resort_region_code','resort_type_code','state_code_resort','resort_id','state_code_residence','season_holidayed_code']

for col in col_to_dummy:
    df_pro=pd.get_dummies(training_set[col],prefix=col+'_')
    training_set=pd.concat([training_set,df_pro],axis=1)
    training_set.drop(columns=[col],inplace=True)

In [8]:
training_set.head()

,reservation_id,booking_date,checkin_date,checkout_date,main_product_code,numberofadults,numberofchildren,room_type_booked_code,roomnights,total_pax,...,state_code_residence__33.0,state_code_residence__34.0,state_code_residence__35.0,state_code_residence__36.0,state_code_residence__37.0,state_code_residence__38.0,season_holidayed_code__1.0,season_holidayed_code__2.0,season_holidayed_code__3.0,season_holidayed_code__4.0
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,5/4/2018,5/4/2018,6/4/2018,1,2,0,3,1,3,...,0,0,0,0,0,0,0,1,0,0
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/4/2015,16/04/15,1,2,0,4,5,2,...,0,0,0,0,0,0,0,1,0,0
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,1/2/2015,5/2/2015,1,2,0,4,4,2,...,0,0,0,0,0,0,0,1,0,0
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,2/5/2015,11/6/2015,16/06/15,1,2,2,3,5,2,...,0,0,0,0,0,0,0,1,0,0
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,2/9/2015,14/12/15,19/12/15,1,2,0,4,5,2,...,0,0,0,0,0,0,0,1,0,0

In [9]:
training_set['days_stayed']=0
training_set['is_weekend']=0
training_set['month']=0
training_set['booking_checkin_diff']=0
training_set['Same_day_booking']=0
training_set['Advance_booking']=0
for index,row in training_set.iterrows():
    c_in=row['checkin_date']
    dt= datetime.datetime.now()
    dt_o= datetime.datetime.now()
    book_d=datetime.datetime.now()
    book_in=row['booking_date']
    try:
        book_d = datetime.datetime.strptime(book_in, '%d/%m/%y')
    except:
        book_d=datetime.datetime.strptime(book_in, '%d/%m/%Y')
    try:
        dt = datetime.datetime.strptime(c_in, '%d/%m/%y')
    except:
        dt=datetime.datetime.strptime(c_in, '%d/%m/%Y')
    c_out=row['checkout_date']
    try:
        dt_o = datetime.datetime.strptime(c_out, '%d/%m/%y')
    except:
        dt_o=datetime.datetime.strptime(c_out, '%d/%m/%Y')
    training_set.at[index,'month']=dt.month
    number_of_day=dt_o-dt
    diff=dt-book_d
    diff_d=diff.days
    training_set.at[index,'booking_checkin_diff']=diff_d
    if(diff_d==0):
        training_set.at[index,'Same_day_booking']=1
    if(diff_d>30):
        training_set.at[index,'Advance_booking']=1
    day=number_of_day.days
    training_set.at[index,'days_stayed']=day
    date1 = dt.toordinal()
    date2 = dt_o.toordinal()
    for i in range(date1, date2 + 1):
        dtc=datetime.date.fromordinal(i)
        if(dtc.weekday()>=5):
            training_set.at[index,'is_weekend']=1
            break

In [10]:
training_set.head()

,reservation_id,booking_date,checkin_date,checkout_date,main_product_code,numberofadults,numberofchildren,room_type_booked_code,roomnights,total_pax,...,season_holidayed_code__1.0,season_holidayed_code__2.0,season_holidayed_code__3.0,season_holidayed_code__4.0,days_stayed,is_weekend,month,booking_checkin_diff,Same_day_booking,Advance_booking
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,5/4/2018,5/4/2018,6/4/2018,1,2,0,3,1,3,...,0,1,0,0,1,0,4,0,1,0
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/4/2015,16/04/15,1,2,0,4,5,2,...,0,1,0,0,5,1,4,78,0,1
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,1/2/2015,5/2/2015,1,2,0,4,4,2,...,0,1,0,0,4,1,2,4,0,0
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,2/5/2015,11/6/2015,16/06/15,1,2,2,3,5,2,...,0,1,0,0,5,1,6,40,0,1
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,2/9/2015,14/12/15,19/12/15,1,2,0,4,5,2,...,0,1,0,0,5,1,12,103,0,1

In [11]:
training_set.booking_checkin_diff.mean()

46.08475385444491

In [12]:
training_set.drop(columns=['reservation_id','booking_date','checkin_date','checkout_date'],inplace=True)

In [13]:
training_set[training_set.roomnights!=training_set.days_stayed]

,main_product_code,numberofadults,numberofchildren,room_type_booked_code,roomnights,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,...,season_holidayed_code__1.0,season_holidayed_code__2.0,season_holidayed_code__3.0,season_holidayed_code__4.0,days_stayed,is_weekend,month,booking_checkin_diff,Same_day_booking,Advance_booking
5,1,2,0,4,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,...,0,1,0,0,1,0,1,42,0,1
9,1,2,0,4,4,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,...,0,0,1,0,3,0,11,110,0,1
10,1,2,0,4,3,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,B,...,0,1,0,0,1,0,2,25,0,0
13,1,2,0,4,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,...,0,0,1,0,2,1,4,68,0,1
15,1,2,0,2,1,3,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,F,...,0,0,1,0,3,1,3,-2219,0,0
24,1,4,0,2,4,4,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,D,...,1,0,0,0,2,0,11,16,0,0
25,2,2,0,3,2,4,D,1,0fb5e9e87638ac401e88ea0115114182614151218a0147...,F,...,0,1,0,0,1,0,4,0,1,0
28,2,4,3,2,4,4,D,1,0fb5e9e87638ac401e88ea0115114182614151218a0147...,F,...,0,1,0,0,2,1,3,34,0,1
30,2,4,4,3,6,3,D,1,0fb5e9e87638ac401e88ea0115114182614151218a0147...,C,...,0,0,1,0,1,1,4,116,0,1
32,2,2,0,3,4,2,E,1,383d253fc6056a0da3fdc32703b4816869f6a3bf8d14ae...,D,...,1,0,0,0,1,1,11,16,0,0
34,2,3,0,3,2,3,D,2,d4eee99d5c3238cdda52479fb34125e15208d394af34e7...,E,...,0,1,0,0,6,1,3,-2210,0,0
36,3,8,0,4,3,3,H,1,e0c7930b0b231e328861e1878d622de8eab98abc6c7a20...,D,...,0,0,1,0,1,0,4,0,1,0
37,3,4,0,4,4,2,H,1,e0c7930b0b231e328861e1878d622de8eab98abc6c7a20...,B,...,0,1,0,0,2,0,3,24,0,0
39,3,4,0,4,8,2,H,1,e0c7930b0b231e328861e1878d622de8eab98abc6c7a20...,C,...,0,0,1,0,3,0,3,51,0,1
42,2,3,1,3,5,4,D,1,a51c95b79b7be8d4d8b7d1cbba32e06897e8fcc63e3325...,D,...,0,1,0,0,1,0,5,85,0,1
43,2,3,1,2,6,6,D,1,a51c95b79b7be8d4d8b7d1cbba32e06897e8fcc63e3325...,C,...,0,1,0,0,3,1,6,34,0,1
44,2,3,0,4,6,2,D,1,a51c95b79b7be8d4d8b7d1cbba32e06897e8fcc63e3325...,A,...,0,1,0,0,3,0,11,51,0,1
45,2,6,0,4,12,3,D,1,a51c95b79b7be8d4d8b7d1cbba32e06897e8fcc63e3325...,C,...,0,0,1,0,4,1,3,43,0,1
47,1,4,0,3,6,2,F,1,560676fd1a3c36b76151a0b5df2ce0fb031a38e40abe7c...,F,...,0,0,1,0,3,1,10,23,0,0
49,1,4,0,3,6,2,F,1,560676fd1a3c36b76151a0b5df2ce0fb031a38e40abe7c...,F,...,1,0,0,0,3,1,12,8,0,0
50,2,3,1,4,2,2,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,E,...,0,1,0,0,1,1,4,1,0,0
56,2,3,0,3,3,4,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,...,0,1,0,0,2,1,6,18,0,0
57,2,2,0,2,3,4,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,...,0,1,0,0,2,0,8,34,0,1
58,2,6,0,3,4,4,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,...,0,0,0,1,2,1,2,0,1,0
62,2,4,0,3,6,2,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,A,...,0,0,1,0,2,0,12,39,0,1
63,2,2,0,3,3,3,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,A,...,0,1,0,0,2,0,3,25,0,0
69,2,4,0,3,3,7,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,A,...,0,1,0,0,1,0,12,43,0,1
76,2,4,0,4,8,2,G,1,7e2c8796fc65ec92959fffdd3f31b2b15f2418d4407c63...,E,...,0,0,0,1,4,1,7,21,0,0
77,2,4,0,3,5,2,G,1,7e2c8796fc65ec92959fffdd3f31b2b15f2418d4407c63...,E,...,0,0,0,1,2,1,8,26,0,0
78,2,4,0,3,5,2,G,1,7e2c8796fc65ec92959fffdd3f31b2b15f2418d4407c63...,E,...,0,0,0,1,2,1,8,26,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341339,3,4,0,3,4,4,A,1,8137a7968cfa1acc8271f98495388a215d0fd3accc4277...,D,...,0,0,0,1,2,1,2,7,0,0
341341,3,4,0,4,6,4,C,1,17f105028b08d38637c2acaf325ca68ae2e421fa9f54bc...,B,...,0,1,0,0,2,1,2,26,0,0
341342,3,4,0,3,6,4,I,1,fefebddd99217854bf620e4f5f796e3a72dc3909e951e6...,F,...,0,0,1,0,3,0,2,17,0,0
341343,3,4,0,2,3,7,H,1,441ceae29e8ddacf0cf709ba044a508ff4d1cda68bda97...,B,...,0,1,0,0,2,1,2,9,0,0
341348,3,2,0,2,2,2,F,1,b190a59b23d1bc650e6482c4f505b8b1390312ac2de6d4...,F,...,0,0,0,1,1,0,2,2,0,0
341349,4,2,0,4,6,5,D,1,efcd4e622c878b75eca0c5fe9588dea07d5fad7daa38ef...,F,...,0,0,0,1,3,1,2,0,1,0
341353,3,4,0,4,2,4,H,1,5a063cf8a4a9c858600855524328a96cca80118d7a552b...,C,...,0,0,1,0,1,0,2,16,0,0
341358,3,2,0,3,4,2,B,1,dbc42d76549b0e5192072776e7c5dddf372f1cb3954b56...,A,...,0,0,0,1,2,1,2,6,0,0
341368,3,4,0,2,3,4,E,1,98c1fa3d48a9513f150bd5bb3088a6d159a4a9d789851d...,B,...,0,1,0,0,1,0,2,17,0,0
341369,2,3,0,3,4,3,A,1,64648e42b8503c45536052bec8ed32fa5371be076d51bd...,F,...,0,0,0,1,2,1,2,5,0,0
341370,4,6,0,4,6,4,F,1,4c5b0567e7ffaec0833abed65d1a6096a5b2818433850c...,E,...,0,0,0,1,2,1,2,9,0,0
341373,2,2,0,4,3,3,F,1,3541e7c5f72dc2fe10103964e53789beb34b08e7d642a1...,B,...,0,1,0,0,2,1,2,16,0,0
341375,3,6,4,3,3,4,C,1,915f751108c1cdd424d635dbd5be00f880d11cd75b3892...,F,...,0,0,0,1,1,1,2,10,0,0
341376,2,4,0,4,7,2,I,1,92004f869af97a6b671a5eb004eca10e1fed95203d6515...,B,...,0,1,0,0,3,1,2,27,0,0
341379,2,4,0,3,6,2,F,1,1faf5827341e8f43ac97a0ccea99b922d035e2cfc1814d...,F,...,0,0,0,1,3,1,2,7,0,0
341380,4,3,0,3,4,4,C,1,c1a96e14f0cb72a3b6c7c6dc7361af87df09d6c09e4f09...,B,...,0,1,0,0,2,1,2,2,0,0
341381,2,5,0,3,6,4,H,1,63c2312d6b0feb75f70ee949abfefdd2f945b77e31c3d2...,F,...,0,0,0,1,3,0,2,12,0,0
341383,2,2,0,4,6,2,B,1,a4289502a6ba9a9b395387d14ed4ec5af184bce9bd87b6...,B,...,0,1,0,0,3,0,2,12,0,0
341389,2,2,0,2,2,2,G,1,8e97d65127b26b1c70153dcf787bf92cc4540be6b1beff...,E,...,0,0,0,1,1,1,2,9,0,0
341390,2,4,0,3,2,2,J,1,5117b6b3130fce8a78916ae50d50798a39530582ed4072...,F,...,0,0,0,1,1,1,2,2,0,0
341392,4,4,0,2,3,3,C,1,086759583be0ece1762d13b010b53b648a9793225d1e3c...,F,...,0,0,0,1,1,0,2,2,0,0
341394,1,4,0,5,2,3,F,1,bdc10a1b0c1f657342ad31d1c40abd99c10f914c76d2fa...,B,...,0,1,0,0,1,0,2,3,0,0
341398,2,2,0,4,4,1,E,1,b428ec9145bf90abd3f730c22f518d5ba92cea3c0b4c1c...,A,...,0,0,0,1,1,0,2,1,0,0
341399,4,4,0,2,2,2,A,1,10b3fb95449f4ca4530412f52292d48edf850654041d9c...,B,...,0,0,1,0,1,1,2,5,0,0
341408,4,3,0,2,3,2,B,1,06b8962c121f6e64c9afe246b53bf1fbef6a3094782ac8...,A,...,0,0,0,1,2,1,2,1,0,0
341411,3,4,0,4,4,2,F,1,99c977a0626fabdb6a2b07239d7e2a18fa167dd7362b96...,D,...,0,0,1,0,2,1,2,21,0,0
341418,2,3,0,2,2,3,E,2,a8422ac064c64938710f3921cddce5db654e9ec9b381b3...,F,...,0,0,0,1,1,0,2,0,1,0
341419,2,4,0,2,4,2,I,1,0095e00c6dae789d37628bd85697e53c423231337994c4...,E,...,0,0,0,1,2,0,2,16,0,0
341421,3,3,0,3,2,3,H,1,f393011a27daf3d1676417f48f44ad9ed3541285e71209...,F,...,0,0,0,1,1,0,2,0,1,0
341422,3,5,0,2,2,3,B,1,b14649c29eb050f4e9b69c7a3afb5dfa00d12dabfd2e40...,D,...,0,0,1,0,1,0,2,1,0,0

In [14]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
training_set['member_age_buckets']=lb.fit_transform(training_set['member_age_buckets'])
training_set['reservationstatusid_code']=lb.fit_transform(training_set['reservationstatusid_code'])
training_set['cluster_code']=lb.fit_transform(training_set['cluster_code'])
training_set['memberid']=lb.fit_transform(training_set['memberid'])

In [15]:
training_set.head()

,main_product_code,numberofadults,numberofchildren,room_type_booked_code,roomnights,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,...,season_holidayed_code__1.0,season_holidayed_code__2.0,season_holidayed_code__3.0,season_holidayed_code__4.0,days_stayed,is_weekend,month,booking_checkin_diff,Same_day_booking,Advance_booking
0,1,2,0,3,1,3,5,1,24179,5,...,0,1,0,0,1,0,4,0,1,0
1,1,2,0,4,5,2,5,1,24179,5,...,0,1,0,0,5,1,4,78,0,1
2,1,2,0,4,4,2,5,1,24179,4,...,0,1,0,0,4,1,2,4,0,0
3,1,2,2,3,5,2,5,1,24179,3,...,0,1,0,0,5,1,6,40,0,1
4,1,2,0,4,5,2,5,1,24179,3,...,0,1,0,0,5,1,12,103,0,1

In [16]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341424 entries, 0 to 341423
Columns: 121 entries, main_product_code to Advance_booking
dtypes: float64(1), int32(4), int64(13), uint8(103)
memory usage: 75.2 MB

In [17]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [23]:
training_set.to_csv('tra.csv')

In [18]:
print(training_set.columns)

Index(['main_product_code', 'numberofadults', 'numberofchildren', 'room_type_booked_code', 'roomnights', 'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid', 'cluster_code',
       ...
       'season_holidayed_code__1.0', 'season_holidayed_code__2.0', 'season_holidayed_code__3.0', 'season_holidayed_code__4.0', 'days_stayed', 'is_weekend', 'month', 'booking_checkin_diff', 'Same_day_booking', 'Advance_booking'], dtype='object', length=121)

In [19]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [24]:
Y=np.array(training_set['amount_spent_per_room_night_scaled'])
X=np.array(training_set[[ 'main_product_code','numberofadults','numberofchildren','room_type_booked_code','roomnights','total_pax','member_age_buckets','booking_type_code','memberid','cluster_code','reservationstatusid_code','channel_code__1','channel_code__2','channel_code__3','persontravellingid__45','persontravellingid__46','persontravellingid__47','persontravellingid__4752','persontravellingid__4753','persontravellingid__4995','resort_region_code__1','resort_region_code__2','resort_region_code__3','resort_type_code__0','resort_type_code__1','resort_type_code__2',	'resort_type_code__3','resort_type_code__4','resort_type_code__5','resort_type_code__7','state_code_resort__1','state_code_resort__2','state_code_resort__3','state_code_resort__4','state_code_resort__5','state_code_resort__6','state_code_resort__7','state_code_resort__9','state_code_resort__10','state_code_resort__11','state_code_resort__13','resort_id__0b918943df0962bc7a1824c0555a389347b4febdc7cf9d1254406d80ce44e3f9','resort_id__39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac8f9e9a2596173f80c9','resort_id__3e1e967e9b793e908f8eae83c74dba9bcccce6a5535b4b462bd9994537bfe15c','resort_id__3fdba35f04dc8c462986c992bcf875546257113072a909c162f7e470e581e278','resort_id__48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c111b49baf362511afc','resort_id__49d180ecf56132819571bf39d9b7b342522a2ac6d23c1418d3338251bfe469c8','resort_id__4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328cb08b5531fcacdabf8a','resort_id__4e07408562bedb8b60ce05c1decfe3ad16b72230967de01f640b7e4729b49fce','resort_id__4ec9599fc203d176a301536c2e091a19bc852759b255bd6818810a42c5fed14a','resort_id__535fa30d7e25dd8a49f1536779734ec8286108d115da5045d77f3b4185d8f790','resort_id__6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef07cb45ec436263c7d6','resort_id__624b60c58c9d8bfb6ff1886c2fd605d2adeb6ea4da576068201b6c6958ce93f4','resort_id__670671cd97404156226e507973f2ab8330d3022ca96e0c93bdbdb320c41adcaf','resort_id__6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b','resort_id__7902699be42c8a8e46fbbb4501726517e86b22c56a189f7625a6da49081b2451','resort_id__7f2253d7e228b22a08bda1f09c516f6fead81df6536eb02fa991a34bb38d9be8','resort_id__81b8a03f97e8787c53fe1a86bda042b6f0de9b0ec9c09357e107c99ba4d6948a','resort_id__8722616204217eddb39e7df969e0698aed8e599ba62ed2de1ce49b03ade0fede','resort_id__9400f1b21cb527d7fa3d3eabba93557a18ebe7a2ca4e471cfe5e4c5b4ca7f767','resort_id__98a3ab7c340e8a033e7b37b6ef9428751581760af67bbab2b9e05d4964a8874a','resort_id__9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739e5ff3827ffb3634953','resort_id__a68b412c4282555f15546cf6e1fc42893b7e07f271557ceb021821098dd66c1b','resort_id__b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d650d5dda0a9f4ce8cd9','resort_id__c6f3ac57944a531490cd39902d0f777715fd005efac9a30622d5f5205e7f6894','resort_id__c75cb66ae28d8ebc6eded002c28a8ba0d06d3a78c6b5cbf9b2ade051f0775ac4','resort_id__d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f90da3a666eec13ab35','resort_id__da4ea2a5506f2693eae190d9360a1f31793c98a1adade51d93533a6f520ace1c','resort_id__e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027aa13515e4f3884bb6b','resort_id__e7f6c011776e8db7cd330b54174fd76f7d0216b612387a5ffcfb81e6f0919683','resort_id__ef2d127de37b942baad06145e54b0c619a1f22327b2ebbcfbec78f5564afe39d','resort_id__f5ca38f748a1d6eaf726b8a42fb575c3c71f1864a8143301782de13da2d9202b','resort_id__ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ffc1c4d03d403ba4250a','state_code_residence__1.0','state_code_residence__2.0','state_code_residence__3.0','state_code_residence__4.0','state_code_residence__5.0','state_code_residence__6.0','state_code_residence__7.0','state_code_residence__8.0','state_code_residence__9.0','state_code_residence__10.0','state_code_residence__11.0','state_code_residence__12.0','state_code_residence__13.0','state_code_residence__14.0','state_code_residence__15.0','state_code_residence__16.0','state_code_residence__18.0','state_code_residence__19.0','state_code_residence__20.0','state_code_residence__21.0','state_code_residence__22.0','state_code_residence__23.0','state_code_residence__24.0','state_code_residence__25.0','state_code_residence__26.0','state_code_residence__27.0','state_code_residence__28.0','state_code_residence__29.0','state_code_residence__30.0','state_code_residence__31.0','state_code_residence__32.0','state_code_residence__33.0','state_code_residence__34.0','state_code_residence__35.0','state_code_residence__36.0','state_code_residence__37.0','state_code_residence__38.0','season_holidayed_code__1.0','season_holidayed_code__2.0','season_holidayed_code__3.0','season_holidayed_code__4.0','days_stayed','is_weekend','month','booking_checkin_diff','Same_day_booking','Advance_booking'
]])
X=sc.fit_transform(X)


from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.30,random_state=1234,shuffle=True)
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

C:\Users\shurastogi\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\shurastogi\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

((238996, 120), (102428, 120), (238996,), (102428,))

In [25]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression()

model1.fit(xtrain,ytrain)
print("Train scrore: {}".format(model1.score(xtrain,ytrain)))
print("Test scrore: {}".format(model1.score(xtest,ytest)))
predict=model1.predict(xtest)

Train scrore: 0.1574576784577385
Test scrore: 0.15682686249080235

In [26]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(xtrain,ytrain)
dtr.score(xtrain,ytrain)

0.986387027088114

In [27]:
dtr.score(xtest,ytest)

-0.7198570238663449

In [51]:
import xgboost
xgb = xgboost.XGBRegressor(n_estimators=300,learning_rate=.15)
xgb.fit(xtrain,ytrain)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.15, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [29]:
print(xgb.score(xtrain,ytrain))
print(xgb.score(xtest,ytest))

0.19342401766146577
0.18581946396185867

In [52]:
print(xgb.score(xtrain,ytrain))
print(xgb.score(xtest,ytest))

0.1977809884778423
0.1868700725562553

In [ ]:
from sklearn.ensemble import RandomForestRegressor
param_grid_RF={'criterion':['mse','mae'],
              'max_features':[3,4],
              'max_depth':[3,4,5,7],
              'n_estimators':[300,400,500,600,700]}

In [ ]:
from sklearn.model_selection import GridSearchCV
from time import time
from operator import itemgetter
def GridSearch_BestParam(X, y, clf, param_grid,cv=10):
    grid_search = GridSearchCV(clf,
                              param_grid=param_grid,
                              cv=cv)
    start= time()
    grid_search.fit(X,y)
    top_params=grid_search.best_estimator_
    return top_params

In [ ]:
model_rf=RandomForestRegressor(n_estimators=300)
#top_param_rf=GridSearch_BestParam(xtrain,ytrain,model_rf,param_grid_RF,cv=10)
#print(top_param_rf)
model_rf.fit(xtrain,ytrain)

In [ ]:
print(model_rf.score(xtrain,ytrain))
print(model_rf.score(xtest,ytest))

In [ ]:
from sklearn import svm, model_selection
regressor = svm.SVR()

In [ ]:
#regressor.fit(xtrain,ytrain)
#print(regressor.score(xtrain,ytrain))
#print(regressor.score(xtest,ytest))

In [30]:
test_set=pd.read_csv('C:/Users/shurastogi/Desktop/Club Mahindra/test.csv')

In [31]:
test_set['days_stayed']=0
test_set['is_weekend']=0
test_set['month']=0
test_set['booking_checkin_diff']=0
test_set['Same_day_booking']=0
test_set['Advance_booking']=0
for index,row in test_set.iterrows():
    c_in=row['checkin_date']
    dt= datetime.datetime.now()
    dt_o= datetime.datetime.now()
    book_d=datetime.datetime.now()
    book_in=row['booking_date']
    try:
        book_d = datetime.datetime.strptime(book_in, '%d/%m/%y')
    except:
        book_d=datetime.datetime.strptime(book_in, '%d/%m/%Y')
    try:
        dt = datetime.datetime.strptime(c_in, '%d/%m/%y')
    except:
        dt=datetime.datetime.strptime(c_in, '%d/%m/%Y')
    c_out=row['checkout_date']
    try:
        dt_o = datetime.datetime.strptime(c_out, '%d/%m/%y')
    except:
        dt_o=datetime.datetime.strptime(c_out, '%d/%m/%Y')
    diff=dt-book_d
    diff_d=diff.days
    test_set.at[index,'booking_checkin_diff']=diff_d
    if(diff_d==0):
        test_set.at[index,'Same_day_booking']=1
    if(diff_d>30):
        test_set.at[index,'Advance_booking']=1
    test_set.at[index,'month']=dt.month
    number_of_day=dt_o-dt
    day=number_of_day.days
    test_set.at[index,'days_stayed']=day
    date1 = dt.toordinal()
    date2 = dt_o.toordinal()
    for i in range(date1, date2 + 1):
        dtc=datetime.date.fromordinal(i)
        if(dtc.weekday()>=5):
            test_set.at[index,'is_weekend']=1
            break

In [32]:

test_set.state_code_residence.fillna(8.0,inplace=True)
test_set.season_holidayed_code.fillna(2.0,inplace=True)
col_to_dummy=['channel_code','persontravellingid','resort_region_code','resort_type_code','state_code_resort','resort_id','state_code_residence','season_holidayed_code']

for col in col_to_dummy:
    df_pro=pd.get_dummies(test_set[col],prefix=col+'_')
    test_set=pd.concat([test_set,df_pro],axis=1)
    test_set.drop(columns=[col],inplace=True)

In [40]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
test_set['member_age_buckets']=lb.fit_transform(test_set['member_age_buckets'])
test_set['reservationstatusid_code']=lb.fit_transform(test_set['reservationstatusid_code'])
test_set['cluster_code']=lb.fit_transform(test_set['cluster_code'])
test_set['memberid']=lb.fit_transform(test_set['memberid'])

In [41]:
test_set.drop(columns=['booking_date','checkin_date','checkout_date'],inplace=True)

KeyError: "['booking_date' 'checkin_date' 'checkout_date'] not found in axis"

In [42]:
test_set.columns

Index(['reservation_id', 'main_product_code', 'numberofadults', 'numberofchildren', 'room_type_booked_code', 'roomnights', 'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid',
       ...
       'state_code_residence__33.0', 'state_code_residence__34.0', 'state_code_residence__35.0', 'state_code_residence__36.0', 'state_code_residence__37.0', 'state_code_residence__38.0', 'season_holidayed_code__1.0', 'season_holidayed_code__2.0', 'season_holidayed_code__3.0', 'season_holidayed_code__4.0'], dtype='object', length=121)

In [43]:
X_Test_SET=np.array(test_set[['main_product_code','numberofadults','numberofchildren','room_type_booked_code','roomnights','total_pax','member_age_buckets','booking_type_code','memberid','cluster_code','reservationstatusid_code','channel_code__1','channel_code__2','channel_code__3','persontravellingid__45','persontravellingid__46','persontravellingid__47','persontravellingid__4752','persontravellingid__4753','persontravellingid__4995','resort_region_code__1','resort_region_code__2','resort_region_code__3','resort_type_code__0','resort_type_code__1','resort_type_code__2',	'resort_type_code__3','resort_type_code__4','resort_type_code__5','resort_type_code__7','state_code_resort__1','state_code_resort__2','state_code_resort__3','state_code_resort__4','state_code_resort__5','state_code_resort__6','state_code_resort__7','state_code_resort__9','state_code_resort__10','state_code_resort__11','state_code_resort__13','resort_id__0b918943df0962bc7a1824c0555a389347b4febdc7cf9d1254406d80ce44e3f9','resort_id__39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac8f9e9a2596173f80c9','resort_id__3e1e967e9b793e908f8eae83c74dba9bcccce6a5535b4b462bd9994537bfe15c','resort_id__3fdba35f04dc8c462986c992bcf875546257113072a909c162f7e470e581e278','resort_id__48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c111b49baf362511afc','resort_id__49d180ecf56132819571bf39d9b7b342522a2ac6d23c1418d3338251bfe469c8','resort_id__4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328cb08b5531fcacdabf8a','resort_id__4e07408562bedb8b60ce05c1decfe3ad16b72230967de01f640b7e4729b49fce','resort_id__4ec9599fc203d176a301536c2e091a19bc852759b255bd6818810a42c5fed14a','resort_id__535fa30d7e25dd8a49f1536779734ec8286108d115da5045d77f3b4185d8f790','resort_id__6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef07cb45ec436263c7d6','resort_id__624b60c58c9d8bfb6ff1886c2fd605d2adeb6ea4da576068201b6c6958ce93f4','resort_id__670671cd97404156226e507973f2ab8330d3022ca96e0c93bdbdb320c41adcaf','resort_id__6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b','resort_id__7902699be42c8a8e46fbbb4501726517e86b22c56a189f7625a6da49081b2451','resort_id__7f2253d7e228b22a08bda1f09c516f6fead81df6536eb02fa991a34bb38d9be8','resort_id__81b8a03f97e8787c53fe1a86bda042b6f0de9b0ec9c09357e107c99ba4d6948a','resort_id__8722616204217eddb39e7df969e0698aed8e599ba62ed2de1ce49b03ade0fede','resort_id__9400f1b21cb527d7fa3d3eabba93557a18ebe7a2ca4e471cfe5e4c5b4ca7f767','resort_id__98a3ab7c340e8a033e7b37b6ef9428751581760af67bbab2b9e05d4964a8874a','resort_id__9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739e5ff3827ffb3634953','resort_id__a68b412c4282555f15546cf6e1fc42893b7e07f271557ceb021821098dd66c1b','resort_id__b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d650d5dda0a9f4ce8cd9','resort_id__c6f3ac57944a531490cd39902d0f777715fd005efac9a30622d5f5205e7f6894','resort_id__c75cb66ae28d8ebc6eded002c28a8ba0d06d3a78c6b5cbf9b2ade051f0775ac4','resort_id__d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f90da3a666eec13ab35','resort_id__da4ea2a5506f2693eae190d9360a1f31793c98a1adade51d93533a6f520ace1c','resort_id__e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027aa13515e4f3884bb6b','resort_id__e7f6c011776e8db7cd330b54174fd76f7d0216b612387a5ffcfb81e6f0919683','resort_id__ef2d127de37b942baad06145e54b0c619a1f22327b2ebbcfbec78f5564afe39d','resort_id__f5ca38f748a1d6eaf726b8a42fb575c3c71f1864a8143301782de13da2d9202b','resort_id__ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ffc1c4d03d403ba4250a','state_code_residence__1.0','state_code_residence__2.0','state_code_residence__3.0','state_code_residence__4.0','state_code_residence__5.0','state_code_residence__6.0','state_code_residence__7.0','state_code_residence__8.0','state_code_residence__9.0','state_code_residence__10.0','state_code_residence__11.0','state_code_residence__12.0','state_code_residence__13.0','state_code_residence__14.0','state_code_residence__15.0','state_code_residence__16.0','state_code_residence__18.0','state_code_residence__19.0','state_code_residence__20.0','state_code_residence__21.0','state_code_residence__22.0','state_code_residence__23.0','state_code_residence__24.0','state_code_residence__25.0','state_code_residence__26.0','state_code_residence__27.0','state_code_residence__28.0','state_code_residence__29.0','state_code_residence__30.0','state_code_residence__31.0','state_code_residence__32.0','state_code_residence__33.0','state_code_residence__34.0','state_code_residence__35.0','state_code_residence__36.0','state_code_residence__37.0','state_code_residence__38.0','season_holidayed_code__1.0','season_holidayed_code__2.0','season_holidayed_code__3.0','season_holidayed_code__4.0','days_stayed','is_weekend','month','booking_checkin_diff','Same_day_booking','Advance_booking'
]])

In [53]:
pred=xgb.predict(X_Test_SET)

In [54]:
pred

array([8.045622, 8.133629, 7.751413, ..., 8.306294, 8.195805, 7.904371],
      dtype=float32)

In [55]:
pred

array([8.045622, 8.133629, 7.751413, ..., 8.306294, 8.195805, 7.904371],
      dtype=float32)

In [56]:
pre_df=pd.DataFrame(pred, columns = ['amount_spent_per_room_night_scaled'])

In [57]:
test_set_df=test_set['reservation_id']

In [58]:
df=pd.concat([test_set_df,pre_df],axis=1)

In [59]:
df.to_csv('submission.csv')